body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eec992;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  input{
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #73b1f3;
  }

  .delet{
    background-color: #ff0800;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  .delet:hover {
    background-color: #d35a4a;
  }

  .edit{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    height: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edit:hover {
    background-color: #73b1f3;
  }
  